# DO NOT UPLOAD virtual environments
.venv

# DO NOT UPLOAD the dataset
# As its size and format are currently unknown
dataset/*

# In case a separate gitignore is added into the directory
!dataset/!.gitignore